<h1>creaters Details</h1>

<p>creater Name: <%= @creater.id %></p>
<p>creater Name: <%= @creater.name %></p>
<p>creater Email: <%= @creater.email %></p>


<%= link_to "creater Home", creaters_path %>
